<!-- Example launch file for using MSL-RAPTOR with an OCAM camera -->

<launch>
  <arg name="id"                   />
  <arg name="robot_type"           />
  <arg name="ns"                  value="/$(arg robot_type)$(arg id)" />
  <arg name="classes_names_file"  default="$(find msl_raptor)/params/objects/classes_coco_mslquad.names" /> <!-- yaml file containing all the object sizes -->
  <arg name="object_sizes_file"   default="$(find msl_raptor)/params/objects/object_params.yaml" /> <!-- yaml file containing all the object sizes -->
  <arg name="object_used_filepath" default="$(find msl_raptor)/params/objects/objects_used/" /> <!-- yaml file containing the names of objects used -->
  <arg name="object_used_file"    default="objects_used.txt" /> <!-- yaml file containing the names of objects used -->
  <arg name="experiment_param_file"    default="experiment.yaml" /> <!-- yaml file containing the names of objects used -->

  <arg name="bag_out_folder"         default="/mounted_folder/raptor_processed_bags" />  <!-- path to the rosbag -->
  <arg name="b_record"            default="false" />  <!-- boolean if we are recording data in rosbag -->

  <include file="$(find msl_raptor)/launch/msl_raptor.launch">
   <arg name="id"      value="$(arg id)"             />
   <arg name="robot_type"    value="$(arg robot_type)"        />
   <arg name="classes_names_file"  value="$(arg classes_names_file)"  /> <!-- yaml file containing all the object sizes -->
   <arg name="object_sizes_file"   value="$(arg object_sizes_file)"  /> <!-- yaml file containing all the object sizes -->
   <arg name="object_used_filepath" value="$(arg object_used_filepath)" /> <!-- yaml file containing the names of objects used -->
   <arg name="object_used_file"    value="$(arg object_used_file)"  /> <!-- yaml file containing the names of objects used -->
   <arg name="experiment_param_file"    value="$(arg experiment_param_file)"  /> <!-- yaml file containing the names of objects used -->
   <arg name="b_record"    value="$(arg b_record)"  /> <!-- boolean indicating if the outputs should be recorded -->
   <arg name="bag_out_folder"    value="$(arg bag_out_folder)"  /> <!-- path where recordings should be saved-->
  </include>


  <param name="use_sim_time" value="false" />   <!--use the rosbag time instead of the computer's time. If using this use clock option in rosbag-->

  <node pkg="tf" type="static_transform_publisher" name="trans_pub_map_world"
        args="0 0 0 0 0 0 /map /world 10"> 
  </node>


  <!-- IF using camera, launch our node -->
    <group ns="$(arg ns)">
    <include file="$(find ocam_msl)/launch/ocam_ros.launch" >
        <arg name="resolution"       value="0"/> <!-- These are the default cropping configurations from Ocam:  resolution: 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360    frame_rate: USB3.0 - 1280x960@45fps, 1280x720@60fps, 640x480@80fps, 320x240@160fps   USB2.0 - 1280x960@22.5fps, 1280x720@30fps, 640x480@80fps, 320x240@160fps -->
        <arg name="frame_rate"       value="22.5"/>
        <arg name="image_width"      value="640"/>
        <arg name="image_height"     value="480" />
        <arg name="camera_frame_id"  value="$(arg ns)/camera" />
    </include>
    </group>
</launch>
